@font-face {
  font-family: EncodeSansSCReg;
  src: url('./fonts/EncodeSansSC-Regular.ttf');
}

body, html {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

#main {
  margin-top: 7em;
}
 
#create-post-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;

  textarea {
    margin-bottom: 1.5em;
  }
  #content-container {
    height: 100px
  }
}

#toolbar {
  display: flex;
  justify-content: space-between;
}

#home-container {
  h1 {
    margin-bottom: 2em;
    font-family: EncodeSansSCReg;
  }
  text-align: center;
  display: flex;
  flex-direction: column;
}

#posts-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: auto;
  a {
    text-decoration: none;
    color: black;
  }
}

.navbar-icon {
  color: white;
}

.post-item-container {
  background-color: #fafafa;
  box-shadow: 0 0 15px #043db8;
  border-radius: 1em;
  min-height: 100px;
  min-width: 300px;
  max-width: 400px;
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  img {
    width: 100%;
    border-radius: 1em;
  }
}

.post-container {
  width: 60%;
  margin: auto;
  .post-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .edit-post-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    textarea {
      width: 80%;
      margin-bottom: 1.5em;
    }

    #content-container {
      height: 100px;
    }
  }

  .post-buttons-container {
    margin-top: 5em;
    button {
      margin: auto 1.5em;
    }
  }

  h2, h5 {
    text-transform: capitalize;
  }
  img {
    margin-top: 2em;
    max-width: 500px;
  }
}