body, html {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

#create-post-container, .edit-post-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.post-item-container {
  border: 1px black solid;
  width: 50%;
  margin-bottom: 2em;
}

.post-container {
  display: flex;
  flex-direction: column;
  img {
    width: 25%;
  }
  button {
    width: 10%;
    margin: 2em;
  }
}